@import "colors";
@import "fn";

#dash-usr{
  position: relative;
  background-color: rgba(#000,0.1);
  border: solid 1px $silver;
  @include border-radius(8px);
  #avatar-box{
    position: relative;
    margin: 0 auto;
    width: 220px;
    height: 220px;
    @include border-radius(100%);
    overflow: hidden;
    img{
      width: 100%;
      height: 100%;
      padding: 1px;
      @include border-radius(100%);
      @include animate-all;
    }
    #avatar-set-btn{
      margin: 0;
      float: none;
      position: absolute;
      left: 0;
      bottom: -60px;
      width: 100%;
      @include no-shadow;
    }
    &:hover #avatar-set-btn{ bottom: 0; }
    &:hover img{ padding: 5px; opacity: 0.8; }
  }
}

#crop-base{
  position: relative;
  text-align: center !important;
  min-height: 280px;
  background-image: url(../img/upload-file.png);
  background-repeat: no-repeat;
  background-position: center;
  img{
    // position: absolute;
    // position: relative;
    // display: block;
    // max-width: 100% !important;
    // height: auto;
  }
  img.prev-set{
    width: 100%;
    height: auto;
  }
  #input-trigger{
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    margin: 0;
    float: none;
  }
  // &:hover #input-trigger{ display: block; }
  &.engaged #input-trigger{ display: none; }
}

.sht-btn{
  background-color: transparent;
  @include no-shadow;
  @include border-radius(5px);
  border: solid 1px $grey;
  float: none !important;
  font-size: 0.8em;
  display: inline-block;
  margin: 3.5px;
  padding: 9px;
  font-weight: normal;
  &:hover{
    background-color: $blue;
    color: white;
  }
}
#usr-dashlist{
  position: relative;
  list-style: none;
  margin: 0; padding: 0;
  li{
    position: relative;
    display: inline-block;
    // float: left;
    margin: 8px;
    text-align: center;
    width: 180px;
    height: 180px;
    padding: 5px;
    h1, h2, h3, h4{
      font-weight: lighter;
      font-size: 1.2em;
      margin:3.5px;
    }
    p{
      margin: 0;
      font-size: 0.85em;
    }
  }
}
